{
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "semi": true,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "bracketSpacing": false,
  "plugins": ["prettier-plugin-organize-imports"]
}
