$accent-base: #8eeec0;
$cutty-sark: #546e7a;
$porcelain: #eceff1;
$light-gray: #d9dcdf;
$color-1 : #32b377;
$color-2 : #8d24aa;
$color-3:#3f51b5;
$color-4:#616161;
$color-exam:#d50b00;
$color-other : #f5be27;
$accents: (
  G1: $color-1,
  G2: $color-2,
  G3: $color-3,
  G4: $color-4,
  exam: $color-exam,
  other: $color-other
);

@function make-gradient($color) {
  @return linear-gradient(135deg, $color, adjust-hue($color, 40%));
}

@mixin make-tiles {
  @each $name, $value in $accents {
    .accent-#{$name} {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 10px;
      font-size: 0.8em;
      background-color: $value;
    }
  }
}

* {
  box-sizing: border-box;
}

.timetable {
  @include make-tiles;
  display: grid;
  grid-template-areas:
    '. week'
    'time content';
  grid-template-columns: 120px;
  grid-template-rows: 60px;
  width: 100%;
  height: 100%;
  .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: lighten($light-gray, 5%);

    & > div {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-shadow: inset 1px 0 0 $porcelain;
    }
  }
  .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(11, 80px);
    font-size: 14px;
    font-weight: bold;
    background: lighten($porcelain, 5%);
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 1px 0 0 $porcelain;
    }
  }
  .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(6, 1fr);
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ffffff;
      width: 100%;
      height: 100%;
      text-align: center;
      box-shadow: inset 1px 0 0 $porcelain, inset 0 1px 0 0 $porcelain;
    }
  }
}
