#reader__dashboard_section_csr span:nth-of-type(1){
  color: rgba(0,0,0,.0)
}

#html5-qrcode-select-camera{
  background-color: red;
  border:1px solid white;
  background-color:transparent;
  display: block;
  font-size:14px;
  padding:7px 5px;
  position: absolute !important;
  top: 5px;
  left: 5px;
  color:white;
  cursor: pointer;
}
